@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Inter&display=swap');
:root {
  /* Fonts */
  --font-headlines: 'Cinzel', serif;
  --font-paragraphs: 'Inter', sans-serif;

  /* Colors */
  --color-light: #fdfcfc;
  --color-dark: #27272e;
  --color-darker: #16161a;
  --color-highlight: #5092d2;

  /* Font sizes */
  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 32px;
  --font-size-paragraph-l: 18px;
  --font-size-paragraph-s: 16px;
  --font-size-btn: 14px;

  /* Spacings */
  --gap-xl: 50px;
  --gap-lg: 30px;
  --gap-md: 20px;
  --gap-sm: 10px;

  --padding-xl: 60px;
  --padding-lg: 30px;
  --padding-md: 20px;
  --padding-sm: 10px;

  --margin-section: 130px;

  /* Borders */
  --radius-md: 5px;
  --radius-lg: 15px;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--font-headlines);
}

body {
  background-color: var(--color-darker);
  color: var(--color-light);
}

a {
  color: var(--color-light);
}

#menu-toggle,
#menu-icon {
  display: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-lg);
}

.button {
  background-color: var(--color-highlight);
  border-radius: var(--radius-md);
  padding: var(--padding-sm) var(--padding-md);
  color: var(--color-darker);
  border: 1px solid var(--color-highlight);
}

/* Estilos header */
header.flex-container {
  padding: var(--padding-sm) var(--padding-lg);
  position: fixed;
  width: 100%;
  background-image: url(https://res.cloudinary.com/dbme57sjz/image/upload/v1698068333/assets/hero-bg_souy3p.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-dark);
  z-index: 99;
}

#logo {
  max-width: 200px;
}
img.deco {
  flex-shrink: 2;
  max-width: 300px;
  min-width: 100px;
  transition: width 0.5s;
}

header > nav > ul {
  font-size: var(--font-size-btn);
  min-width: 400px;
}

/* Hero */

#hero {
  background-image: url(https://res.cloudinary.com/dbme57sjz/image/upload/v1698068333/assets/hero-bg_souy3p.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0 var(--padding-lg);
  padding-top: var(--margin-section);
  min-height: 45svh;
  justify-content: center;
  overflow: hidden;
}

.text-content {
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.text-content h1 {
  font-size: var(--font-size-h2);
}
.text-content p {
  font-family: var(--font-paragraphs);
  width: 65%;
}

.text-content button:last-child {
  background-color: var(--color-dark);
  border-color: var(--color-light);
  color: var(--color-light);
}

#hero > div:last-child {
  align-self: flex-end;
}

#hero-img {
  position: absolute;
  top: var(--margin-section);
  right: 0;
  max-height: 35svh;
  z-index: -1;
}

#hero iframe {
  width: 400px;
  aspect-ratio: 1.7;
}

/* Galería Héroes */

.horizontal-gallery {
  flex-direction: column;
  margin-top: var(--margin-section);
}

.horizontal-gallery ul {
  padding: var(--padding-xl);
  gap: var(--gap-md);
  width: 100%;
}
.horizontal-gallery img.main-img {
  position: absolute;
  bottom: 0;
  height: 350px;
  filter: saturate(0.5);
  transition: ease-in-out 0.5s;
}
.horizontal-gallery ul > li {
  position: relative;
  background-color: var(--color-dark);
  flex-basis: 20%;
  overflow-x: clip;
  flex-grow: 1;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: ease-in-out 0.5s;
}
.horizontal-gallery ul > li:hover {
  border: 1px solid var(--color-highlight);
}
.horizontal-gallery ul > li:hover img {
  filter: saturate(1);
}
.horizontal-gallery h3 {
  margin-bottom: var(--padding-xl);
  z-index: 10;
}

/* Media Queries */

@media screen and (max-width: 950px) {
  header > nav > .menu-content {
    position: absolute;
    top: 80px;
    right: 0;
    flex-direction: column;
    min-width: 0;
    width: 0px;
    overflow: hidden;
    background-color: var(--color-dark);
    white-space: nowrap;
    transition: all 0.5s;
  }

  #menu-icon {
    display: block;
    cursor: pointer;
  }

  #menu-icon > img {
    width: 32px;
  }

  #menu-toggle:checked ~ .menu-content {
    display: flex;
    width: 200px;
    padding: var(--padding-lg);
  }

  #hero {
    flex-wrap: wrap;
  }

  .text-content > p {
    background-color: #27272ebb;
    border-radius: var(--radius-md);
  }
}

@media (max-width: 530px) {
  img.deco {
    display: none;
  }
  #hero-img {
    position: relative;
    top: 0;
    align-self: center;
  }
  .text-content h1 {
    font-size: 26px;
  }
  .text-content p {
    width: 100%;
  }

  iframe {
    max-width: 100%;
  }
}
